iOS51rcProject.xcodeproj/project.xcworkspace/xcuserdata/Lucifer.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist

iOS51rcProject.xcodeproj/xcuserdata/lucifer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

iOS51rcProject.xcodeproj/xcuserdata/lucifer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
