iOS51rcProject.xcodeproj/project.xcworkspace/xcuserdata/Lucifer.xcuserdatad/UserInterfaceState.xcuserstate
iOS51rcProject.xcodeproj/project.xcworkspace/xcshareddata/iOS51rcProject.xccheckout

iOS51rcProject.xcodeproj/xcuserdata/lucifer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
